/* @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap") */
@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar,
.footer {
  @apply bg-yellow-500;
}

.footer {
  min-height: 50px;
}

.navbar {
  min-height: 100px;
}

.main {
  min-height: calc(100vh - 150px);
  max-height: calc(100vh - 150px);
  overflow: auto;
}

.main::-webkit-scrollbar {
  display: none;
}

.texto {
  font-size: clamp(1.5rem, 3rem, 4vw);
}
